
/* Custom Font */
@font-face {
    font-family: "Slapstick";
    src: url("./fonts/SF Slapstick Comic Bold.ttf");
}
@font-face {
    font-family: "SlapShaded";
    src: url("./fonts/SF Slapstick Comic Shaded.ttf");
}
/* DESKTOP DESIGN */
@media (min-width: 765px){
    .navbar{
        background-color: #FB8F67;
        flex-direction: row;
    } 
    .navbaritem { 
        font-size: 30pt;
        text-align: center;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
}



.navbar{
    background-color: #FB8F67;
    display:flex;
    flex-direction: column;
    margin: 0px;
} 
.navbaritem { 
    font-size: 58pt;
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* General Rules */
h2, .aboutme > article > h4 {
    font-family: "SlapShaded", Arial, courier;
    font-size: 38pt;
}

/*Color Schema*/

body{
    background-color: #FFC2B4;
}



.navbaritem:hover{
    background-color: #d7de90;
    border-radius: 10px;
}
.navbaritem:active{
    background-color: lightslategrey;
}
.currentpage {
    border-radius: 10px;
    background-color: #F5FF90;
    font-weight: bold;
}
/* Featured Cakes */
.featuredcakes > h2, .gallery > h2, .mainform > h2 {
    display: block;
    text-align: center;
    border-radius: 20px;
    border-style: none;
    background-color: #D0F4DE;
}

.fcdiv > img{
    display: block;
    margin:auto;
}
.fcdiv > h3, .cakedescription > h2, .hours > h3{
    display: block;
    text-align: center;
    font-size: 36pt;
    border-radius: 10px;
    border-style: none;
    background-color: #D6FFB7;
    font-family: "Slapstick", Arial, Courier;
}
/* Paragraph Texts */
.fcdiv > p, .aboutme > article > p, .cakedescription > p {
    border-radius: 15px;
    border-style: none;
    background-color: #f5bbae;
    text-align: center;
}
/* About The Company */
.aboutme >article >  h4 {
    text-align: center;
    display:block;
    border-radius: 20px;
    border-style: none;
    background-color: #D0F4DE;
}
.bottomfooter {
    background-color: #303030;
    padding: 30px;
    width: 100%;
    margin: -10px;
    position: sticky;
    bottom: 0;
}
.footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(2%, auto);
    
}
.footer > a, footer > p{
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;

}
.footer > a:hover{
    background-color: #202020;
    border-radius: 40px;
}
.footer > a:active{
    background-color: black;
    border-radius: 40px;
}
/* Gallery Section */
.gallerysect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(2%, auto);
    row-gap: 1em;
    column-gap: 1em;
    margin-bottom: 1em;
    margin-top: 2em;
    
}
.gallerysect > img {
    width: 100%;
    margin: auto;
}
/* Contact Us Form */
form  > input{
    width: 50%;
    height: 30px;
    margin: 20px;
    font-size: 20pt;

    
}


.mainform {
    margin: 10px;
    margin-bottom: 1em;
    padding: 20px;
}
.mainform > form > label{
    font-size: 30pt;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-style: none;
    background-color: #D6FFB7;
    

}
.mainform > form > a{
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-style: none;
    background-color: #D0F4DE;
}
.mainform > form{
    text-align: center;
}
/* Hours */
.hours > ul{
    text-align: center;
    font-size: 30pt;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
}
.hours > iframe{
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 500px;    
}